Repository speaq-app/speaq, pull requests merged in 2022-06, with the labels that each got.

#53 feat: SWPG6SPEAK-243/267: Publish post
  backend/cmd/root.go
  backend/internal/app/post/post.go
  backend/internal/pkg/data/mockdb/mockdb.go
  backend/internal/pkg/data/post.go
  backend/internal/pkg/data/postgres/post.go
  backend/internal/pkg/data/service.go
  frontend/lib/api/grpc/grpc_post_service.dart
  frontend/lib/api/model/post.dart
  frontend/lib/api/post_service.dart
  frontend/lib/blocs/post_bloc/post_bloc.dart
  frontend/lib/blocs/post_bloc/post_event.dart
  frontend/lib/blocs/post_bloc/post_state.dart
  frontend/lib/pages/post/new_post_page.dart
  frontend/lib/pages/start/login/login_page.dart
  frontend/lib/pages/start/register/register_page.dart
  frontend/lib/utils/speaq_styles.dart
  protoc.sh
  protos/post.proto
Labels: backend, frontend

#51 Swpg6 speak 239 searchpage
  frontend/lib/l10n/app_de.arb
  frontend/lib/l10n/app_en.arb
  frontend/lib/main.dart
  frontend/lib/pages/base/messages/messages_page.dart
  frontend/lib/pages/base/search/search_page.dart
  frontend/lib/pages/profile/edit_profile_page.dart
Labels: frontend

#57 feat: SWPG6SPEAK-237: Add basic CI
  .github/workflows/backend-test-build.yml
  Makefile
  README.md
  backend/build/package/Dockerfile
  frontend/Dockerfile
  frontend/Makefile
Labels: enhancement, backend
