Repository speaq-app/speaq, pull requests merged in 2022-04, with the labels that each got.

#5 fix: gitignore
  .gitattributes
  .gitignore
  .idea/.gitignore
  backend/go.mod
  frontend/.gitignore
  frontend/pubspec.lock
  frontend/windows/.gitignore
  frontend/windows/CMakeLists.txt
  frontend/windows/flutter/CMakeLists.txt
  frontend/windows/flutter/generated_plugin_registrant.cc
  frontend/windows/flutter/generated_plugin_registrant.h
  frontend/windows/flutter/generated_plugins.cmake
  frontend/windows/runner/CMakeLists.txt
  frontend/windows/runner/Runner.rc
  frontend/windows/runner/flutter_window.cpp
  frontend/windows/runner/flutter_window.h
  frontend/windows/runner/main.cpp
  frontend/windows/runner/resource.h
  frontend/windows/runner/resources/app_icon.ico
  frontend/windows/runner/runner.exe.manifest
  frontend/windows/runner/utils.cpp
  frontend/windows/runner/utils.h
  frontend/windows/runner/win32_window.cpp
  frontend/windows/runner/win32_window.h
  go.mod
Labels: enhancement, backend, frontend

#12 feat: SWPG6SPEAK-91: Create profile page
  frontend/lib/main.dart
  frontend/lib/pages/profile/profile_page.dart
  frontend/lib/widgets/speaq_post_container.dart
  frontend/lib/widgets/speaq_text_button.dart
Labels: frontend

#8 feat: SWPG6SPEAK: Add userMenu-Header profileData
  frontend/lib/assets/images/logo/logo_speaq.svg
  frontend/lib/main.dart
  frontend/lib/pages/base/home/home_page.dart
  frontend/lib/pages/base/home/user_menu.dart
  frontend/lib/widgets/speaq_appbar.dart
  frontend/pubspec.yaml
Labels: frontend

#11 Swpg6 speak 113 create settings
  frontend/assets/images/logo/logo_speaq.svg
  frontend/lib/pages/base/home/home_page.dart
  frontend/lib/pages/settings/settings_page.dart
  frontend/lib/utils/speaq_styles.dart
  frontend/lib/widgets/speaq_settings_section.dart
  frontend/pubspec.yaml
Labels: frontend

#4 Swpg6 speak 124 add button nav bar
  frontend/lib/main.dart
  frontend/lib/pages/base/messages/messages_page.dart
  frontend/lib/pages/base/notifications/notifications_page.dart
  frontend/lib/pages/base/search/search_page.dart
Labels: frontend

#19 Swpg6 speak add account settings
  frontend/lib/pages/settings/settings_account_page.dart
  frontend/lib/pages/settings/settings_page.dart
  frontend/lib/utils/route_util.dart
Labels: frontend

#24 Swpg6 speak add sub settings
  frontend/lib/pages/all_pages_export.dart
  frontend/lib/pages/settings/settings_page.dart
  frontend/lib/pages/settings/sub_settings/settings_accessibility.dart
  frontend/lib/pages/settings/sub_settings/settings_account_page.dart
  frontend/lib/pages/settings/sub_settings/settings_content_preferences.dart
  frontend/lib/pages/settings/sub_settings/settings_data_usage.dart
  frontend/lib/pages/settings/sub_settings/settings_display_sound.dart
  frontend/lib/pages/settings/sub_settings/settings_notifications.dart
  frontend/lib/pages/settings/sub_settings/settings_privacy_safety.dart
  frontend/lib/utils/route_util.dart
  frontend/lib/widgets/all_widgets.dart
  frontend/lib/widgets/speaq_bottom_logo.dart
Labels: frontend

#21 feat: SWPG6SPEAK-117: Add resource loading
  Dockerfile.protoc
  LICENSE
  Makefile
  backend/.gitignore
  backend/Makefile
  backend/build/package/Dockerfile
  backend/cmd/config.default.yml
  backend/cmd/root.go
  backend/config.yml
  backend/configs/config.dev.yml
  backend/deployments/docker-compose.dev.yml
  backend/deployments/docker-compose.test.yml
  backend/go.mod
  backend/go.sum
  backend/internal/app/resource/resource.go
  backend/internal/app/resource/resource_test.go
  backend/internal/pkg/data/mockdb/mockdb.go
  backend/internal/pkg/data/postgres/postgres.go
  backend/internal/pkg/data/postgres/resource.go
  backend/internal/pkg/data/postgres/schema/1.sql
  backend/internal/pkg/data/postgres/user.go
  backend/internal/pkg/data/resource.go
  backend/internal/pkg/data/service.go
  backend/internal/pkg/data/user.go
  backend/main.go
  docker-compose.yml
  frontend/.gitignore
  frontend/.idea/.gitignore
  frontend/Dockerfile
  frontend/Makefile
  frontend/assets/i18n/de.json
  frontend/lib/api/grpc/grpc_resource_service.dart
  frontend/lib/api/grpc/protos/.gitkeep
  frontend/lib/api/model/resource.dart
  frontend/lib/api/resource_service.dart
  frontend/lib/pages/base/home/home_page.dart
  frontend/lib/pages/profile/edit_profile_page.dart
  frontend/lib/pages/profile/profile_page.dart
  frontend/lib/pages/settings/settings_page.dart
  frontend/lib/pages/settings/sub_settings/settings_account_page.dart
  frontend/lib/pages/settings/sub_settings/settings_content_preferences.dart
  frontend/lib/pages/settings/sub_settings/settings_display_sound.dart
  frontend/lib/pages/settings/sub_settings/settings_notifications.dart
  frontend/lib/pages/settings/sub_settings/settings_privacy_safety.dart
  frontend/lib/pages/start/login/login_page.dart
  frontend/lib/utils/route_util.dart
  frontend/lib/widgets/all_widgets.dart
  frontend/lib/widgets/speaq_text_button.dart
  frontend/lib/widgets/speaq_text_field.dart
  frontend/pubspec.yaml
  protos/resource.proto
Labels: enhancement, backend

#25 feat: SWPG6SPEAK-70: Change description
  Dockerfile.protoc
  backend/.gitignore
  backend/cmd/root.go
  backend/go.mod
  backend/internal/app/user/user.go
  backend/internal/pkg/data/mockdb/mockdb.go
  backend/internal/pkg/data/postgres/user.go
  backend/internal/pkg/data/user.go
  configs/config.dev.yml
  frontend/lib/api/grpc/grpc_user_service.dart
  frontend/lib/api/user_service.dart
  frontend/lib/pages/base/home/home_page.dart
  frontend/lib/pages/profile/bloc/profile_bloc.dart
  frontend/lib/pages/profile/bloc/profile_event.dart
  frontend/lib/pages/profile/bloc/profile_state.dart
  frontend/lib/pages/profile/edit_profile_page.dart
  frontend/lib/pages/profile/model/profile.dart
  frontend/lib/pages/profile/model/user.dart
  frontend/lib/pages/profile/profile_page.dart
  frontend/lib/widgets/speaq_appbar.dart
  frontend/lib/widgets/speaq_bottom_navi_bar.dart
  frontend/lib/widgets/speaq_follower_tile.dart
  frontend/lib/widgets/speaq_loading_widget.dart
  frontend/lib/widgets/speaq_post_container.dart
  frontend/lib/widgets/speaq_settings_section.dart
  frontend/lib/widgets/speaq_text_button.dart
  frontend/lib/widgets/speaq_text_field.dart
  frontend/lib/widgets/spq_fab.dart
  frontend/pubspec.yaml
  protoc.sh
  protos/user.proto
Labels: bug, enhancement, backend, frontend
