Repository speaq-app/speaq, pull requests merged in 2022-05, with the labels that each got.

#30 fix: SWPG6SPEAK-187: i18n
  frontend/l10n.yaml
  frontend/lib/l10n/app_de.arb
  frontend/lib/l10n/app_en.arb
  frontend/lib/main.dart
  frontend/lib/pages/base/home/user_menu.dart
  frontend/lib/pages/start/login/login_page.dart
  frontend/lib/utils/localization_util.dart
  frontend/lib/utils/speaq_styles.dart
  frontend/pubspec.yaml
Labels: bug, frontend

#34 fix: images
  .gitattributes
Labels: bug

#40 feat: SWPG6SPEAK-245-Save-profile-image-local
  frontend/lib/api/cache/cache_resource_service.dart
  frontend/lib/api/cache/cache_user_service.dart
  frontend/lib/blocs/resource_bloc/resource_bloc.dart
  frontend/lib/main.dart
  frontend/lib/pages/base/home/home_page.dart
Labels: enhancement, backend, frontend

#38 feat: SWPG6SPEAK-253-homepage_posts
  frontend/lib/pages/base/home/home_page.dart
  frontend/lib/widgets/speaq_post_container.dart
Labels: frontend

#35 feat: SWPG6SPEAK-254/255/256/261/263/264/265: Create message UI
  frontend/lib/pages/base/messages/messages_page.dart
  frontend/lib/pages/base/messages/user.dart
  frontend/lib/pages/settings/settings_account_page.dart
  frontend/lib/pages/settings/sub_settings/settings_accessibility.dart
  frontend/lib/pages/settings/sub_settings/settings_account_page.dart
  frontend/lib/pages/settings/sub_settings/settings_content_preferences.dart
  frontend/lib/pages/settings/sub_settings/settings_data_usage.dart
  frontend/lib/pages/settings/sub_settings/settings_display_sound.dart
  frontend/lib/pages/settings/sub_settings/settings_notifications.dart
  frontend/lib/pages/settings/sub_settings/settings_privacy_safety.dart
Labels: frontend

#41 feat: SWPG6SPEAK-178/179/180/181: Create new Login Page
  frontend/lib/pages/start/login/login_page.dart
  frontend/lib/widgets/all_widgets.dart
  frontend/lib/widgets/speaq_login_account_check.dart
  frontend/lib/widgets/speaq_text_fields_login_register.dart
Labels: frontend

#43 feat: SWPG6SPEAK-202/203-new-register-page
  frontend/lib/l10n/app_de.arb
  frontend/lib/l10n/app_en.arb
  frontend/lib/pages/start/login/login_page.dart
  frontend/lib/pages/start/register/register_page.dart
  frontend/lib/widgets/all_widgets.dart
  frontend/lib/widgets/speaq_login_account_check.dart
  frontend/lib/widgets/speaq_login_register_widget.dart
  frontend/lib/widgets/speaq_text_fields_login_register.dart
Labels: frontend

#45 SWPG6SPEAK-162 fix profile page size
  frontend/lib/pages/profile/profile_page.dart
Labels: frontend

#46 Swpg6 speak 199 about speaq
  frontend/assets/images/developer_eisemann.jpg
  frontend/assets/images/developer_gatnar.jpg
  frontend/assets/images/developer_holzwarth.jpg
  frontend/assets/images/developer_loewe.jpg
  frontend/assets/images/developer_omoruyi.jpg
  frontend/assets/images/developer_schlehlein.jpg
  frontend/lib/l10n/app_de.arb
  frontend/lib/l10n/app_en.arb
  frontend/lib/main.dart
  frontend/lib/pages/settings/settings_page.dart
  frontend/lib/pages/settings/sub_settings/settings_about_speaq.dart
  frontend/lib/utils/route_util.dart
  frontend/pubspec.yaml
Labels: frontend

#49 feat: SWPG6SPEAK-250: Profile page show real data
  backend/internal/pkg/data/mockdb/mockdb.go
  backend/internal/pkg/data/user.go
  frontend/lib/api/cache/cache_user_service.dart
  frontend/lib/api/grpc/grpc_user_service.dart
  frontend/lib/api/model/profile.dart
  frontend/lib/blocs/profile_bloc/profile_bloc.dart
  frontend/lib/blocs/profile_bloc/profile_event.dart
  frontend/lib/pages/base/home/home_page.dart
  frontend/lib/pages/base/home/user_menu.dart
  frontend/lib/pages/profile/edit_profile_page.dart
  frontend/lib/pages/profile/profile_page.dart
  frontend/lib/widgets_shimmer/post_shimmer.dart
Labels: backend, frontend

#52 feat: SWPG6SPEAK-271: Outsource loading widgets
  backend/go.mod
  backend/go.sum
  backend/internal/pkg/data/mockdb/mockdb.go
  frontend/lib/blocs/profile_bloc/profile_bloc.dart
  frontend/lib/l10n/app_de.arb
  frontend/lib/l10n/app_en.arb
  frontend/lib/pages/base/home/home_page.dart
  frontend/lib/pages/base/home/userMenu/bookmarks_page.dart
  frontend/lib/pages/base/home/userMenu/qr_code_page.dart
  frontend/lib/pages/base/home/user_menu.dart
  frontend/lib/pages/base/notifications/notifications_page.dart
  frontend/lib/pages/base/search/search_page.dart
  frontend/lib/pages/profile/edit_profile_page.dart
  frontend/lib/pages/profile/profile_page.dart
  frontend/lib/pages/settings/settings_page.dart
  frontend/lib/pages/settings/sub_settings/settings_account_page.dart
  frontend/lib/widgets/speaq_text_field.dart
  frontend/lib/widgets_shimmer/components/shimmer_cube.dart
  frontend/lib/widgets_shimmer/components/shimmer_profile_picture.dart
  frontend/lib/widgets_shimmer/post_shimmer.dart
  frontend/lib/widgets_shimmer/speaq_appbar_shimmer.dart
Labels: frontend
